/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
    margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
    /* 1 */
    display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
    margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
    outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
    display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
    display: none;
}

@font-face {
    font-family: 'Sfuidisplay';
    src: url('../fonts/sfuidisplay-bold.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sfuidisplay';
    src: url('../fonts/sfuidisplay-semibold.woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sfuidisplay';
    src: url('../fonts/sfuidisplay-medium.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sfuidisplay';
    src: url('../fonts/sf-ui-display-regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sfuidisplay';
    src: url('../fonts/sfuidisplay-light.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sfuitext';
    src: url('../fonts/sfuitext-bold.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sfuitext';
    src: url('../fonts/sfuitext-semibold.woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sfuitext';
    src: url('../fonts/sfuitext-medium.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sfuitext';
    src: url('../fonts/sfuitext-regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sfuitext';
    src: url('../fonts/sfuitext-light.woff2');
    font-weight: 300;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-family: 'Sfuidisplay', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #000;
    background-color: #eef2f6;
}

img {
    max-width: 100%;
    height: auto;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

btn {
    border: none;
    background: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.main-header {
    position: relative;
    height: 450px;
    background: url("../img/background.png") no-repeat center top;
    background-size: cover;
}

.main-header__desctop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0 0;
}

.main-header__desctop--nav {
    margin: 15px 0 0;
}

.main-header__desctop--nav ul {
    display: -ms-flexbox;
    display: flex;
}

.main-header__desctop--nav ul li {
    color: #000019;
    margin: 0 15px 0 0;
    font-family: 'Sfuitext', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.main-header__desctop--nav li a:hover {
    color: #fff;
}

.main-header__desctop--nav ul li:last-child {
    margin: 0;
}

.main-header__desctop--contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 14px 0 0;
}

.main-header__desctop--btn {
    width: 210px;
    height: 40px;
    line-height: 1;
    color: #2f5fbf;
    font-size: 16px;
    font-family: 'Sfuitext', sans-serif;
    border: 0;
    outline: 0;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0, 47, 67, 0.15);
    margin: 4px 0 0;
}

.main-header__desctop--btn:hover {
    color: #fff;
    background: #2f5fbf;
}

.main-header__desctop--contacts a:first-child {
    font-family: 'Sfuitext', sans-serif;
    font-weight: 500;
    display: block;
    font-size: 20px;
    margin: 0 0 5px;
}

.main-header__desctop--contacts a:last-child {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}

.main-header__desctop--contacts a:last-child:hover {
    color: #005fc3;
}

.main-header__desctop--contacts .contacst__phone-small {
    font-size: 12px;
    margin: 0 3px 0 0;
}

.main-header__search {
    max-width: 1160px;
    width: 100%;
    margin: 15px auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-header__search--title {
    font-size: 24px;
    line-height: 48px;
    color: #fff;
    margin: 0 12px 0 0;
}

.main-header__search--input {
    width: 1045px;
    height: 48px;
    line-height: 48px;
    padding: 0 50px 0 10px;
    color: #04040f;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: #fff;
    font-style: italic;
    font-size: 16px;
    color: #afafaf;
}

.main-header__search--btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    background: url("../img/scope.png") no-repeat center center;
    cursor: pointer;
    border: 0;
    outline: 0;
    z-index: 1;
}

.main-header__search--container {
    position: relative;
    height: 48px;
}

.main-header__search--container::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: -5px;
    width: 0;
    height: 0;
    margin-top: -4px;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    border-color: transparent #fff transparent transparent;
}

.main-header__title {
    color: #fff;
    text-align: center;
    font-family: 'Sfuidisplay', sans-serif;
    font-weight: 300;
    font-size: 42px;
    margin: 40px 0 15px;
}

.main-header__breadcrumbs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-header__breadcrumbs li {
    margin-right: 16px;
    position: relative;
}

.main-header__breadcrumbs li:last-child {
    margin-right: 0;
}

.main-header__breadcrumbs .breadcrumbs__active {
    color: #000;
    text-decoration: none;
}

.main-header__breadcrumbs a {
    font-size: 17px;
    color: #fff;
    text-decoration: underline;
}

.main-header__breadcrumbs a:hover {
    color: #005fc3;
}

.main-header__breadcrumbs .breadcrumbs__active:hover {
    color: #000;
}

.main-header__breadcrumbs .breadcrumbs__active::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    color: #fff;
    background-color: #fff;
    width: 2px;
    height: 2px;
    top: 8px;
    left: -8px;
}

.form-wrapper {
    margin: -137px 0 0;
    padding: 35px 60px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(0, 47, 67, 0.15);
    position: relative;
}

option:first {
    color: #757575;
}

select {
    color: #757575;
}

.main-form__label {
    margin: 0 0 20px;
    padding: 17px 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.main-form__label--wrong {
    position: absolute;
    width: 100%;
    text-align: right;
    bottom: -16px;
    display: block;
    color: red;
    font-size: 12px;
}

.main-form__labe--title {
    display: block;
    font-size: 14px;
    font-family: 'Sfuitext', sans-serif;
    font-weight: 400;
    color: #8e8e93;
}

.main-form__label--input {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 17px;
    outline: none;
    border: none;
    font-family: 'Sfuitext', sans-serif;
    border-bottom: 1px solid #8e8e93;
    background: none;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}

.main-form__label--input::-webkit-input-placeholder {
    color: #8e8e93;
    font-weight: 400;
    line-height: 36px;
    font-size: 17px;
    font-family: 'Sfuitext', sans-serif;
}

.main-form__check-box--title {
    margin: 40px 0 20px;
    font-size: 17px;
    color: #000;
    font-family: 'Sfuitext';
    font-weight: 400;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    opacity: 0.8;
    margin: 10px 0;
    line-height: 20px;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label:hover {
    opacity: 1;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    background: url("../img/Checkbox.png") no-repeat;
    width: 16px;
    height: 16px;
}

input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    background: url("../img/Checkbox_on.png") no-repeat;
    width: 16px;
    height: 16px;
}

.main-form__checkbox {
    margin-bottom: 26px;
    margin-left: 0;
    font-family: 'Sfuitext';
}

.main-form__checkbox p {
    display: inline-block;
    margin: 0;
    font-size: 14px;
}

.main-form__checkbox .bonus-price {
    display: block;

    color: #2f5fbf;
    cursor: pointer;
    font-weight: 500;
}

.main-form__checkbox .product-name {
    display: block;
    margin: 0 0 0 21px;
    color: #2f5fbf;
    cursor: pointer;
    font-weight: 400;
    border-bottom: 1px dotted #2f5fbf;
    display: inline-block;
    margin: 0;
}

.main-form__left-block {
    max-width: 780px;
}

.main-form__right-block {
    padding: 30px 40px;
    background: #efeff4;
    border-radius: 8px;
    max-width: 340px;
    max-height: 688px;
}

.main-form__right-block--price {
    text-align: center;
    font-size: 48px;
    font-family: 'Sfuidisplay', sans-serif;
    font-weight: 600;
}

.main-form__right-block--text {
    color: #47474a;
    font-size: 17px;
    line-height: 22px;
    margin: 0 0 37px;
    font-family: Sfuitext;
}

.main-form__right-block--btn {
    display: block;
    border: none;
    width: 100%;
    margin: 20px 0 30px;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    background: #2f5fbf;
    cursor: pointer;
    border-radius: 4px;
    border-bottom: 2px solid #1c4495;
    outline: 0;
}

.main-form__right-block--btn:hover {
    background: #3d71da;
}

.main-form__right-block--mail {
    color: #2f5fbf;
    border-bottom: 1px solid #2f5fbf;
}

.main_footer {
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 95px;
}

.main-footer__contacts-left {
    max-width: 341px;
    width: 100%;
    height: 308px;
    font-size: 17px;
    padding-top: 54px;
}

.mail-link {
    color: #2f5fbf;
    border-bottom: 1px solid #2f5fbf;
}

.footer-nav {
    max-width: 675px;
    width: 100%;
    height: 370px;
}

.footer-nav p {
    margin: 0 auto;
    padding-top: 25px;
    width: 381px;
}

.footer-nav h3 {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 5px;
}

.footer-nav__top {
    padding-top: 70px;
    padding-bottom: 20px;
}

.footer-nav__top ul {
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-nav__top a {
    border-bottom: 1px solid black;
    font-size: 17px;
    font-weight: 400;
}

.footer-nav__bottom {
    padding-top: 15px;
    border-top: 1px solid #b6c7e6;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 14px;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-nav__bottom ul {

    max-width: 217px;
}

.footer-nav__bottom li:first-child {
    font-weight: bold;
    padding-bottom: 15px;
}

.footer-nav__bottom li {
    padding-bottom: 10px;
}

.footer-nav__bottom a {
    border-bottom: 1px solid black;
}

.main-footer__contacts-right {
    padding-top: 70px;
    padding-left: 40px;
    margin-left: 36px;
    max-width: 228px;
    width: 100%;
    height: 311px;
}

.main-footer__contacts-right p {
    padding-left: 4px;
    font-size: 17px;
    line-height: 21px;
}

.main-footer__contacts-right a {
    display: block;
}

.main-footer__contacts-right a:first-child {
    font-size: 19px;
    font-weight: bold;
}

.main-footer__contacts-right a:first-child {
    font-size: 19.6px;
    font-weight: bold;
}

.main-footer__contacts-right a:nth-child(2) {
    color: #2f5fbf;
    border-bottom: 1px solid #2f5fbf;
    display: block;
    width: 118px;
    margin-left: auto;
}

.main-footer__contacts-right img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.main-footer__contacts-right h3 {
    display: inline-block;
    max-width: 110px;
    vertical-align: middle;
}

.main-footer__contacts-left .btn {
    display: block;
    border: none;
    width: 100%;
    margin: 20px 0 30px;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    background: #2f5fbf;
    cursor: pointer;
    border-radius: 4px;
    border-bottom: 2px solid #1c4495;
    outline: 0;
    max-width: 300px;
}

.main-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.menu-mobile {
    display: none;
}

.invalid span {
    color: red;
}

.invalid .main-form__label--wrong {
    display: block !important;
}

.invalid input {
    border-color: red;
}

.valid span {
    color: #469ee2;
}

.valid .main-form__label--wrong {
    display: none !important;
}

.valid input {
    border-color: #469ee2;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.invalid {
    animation: shake 0.6s;
}

.items .main-form__label--input {
    position: relative;
}

.cross-error {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 47px;
    right: 8px;
    display: none;
    background-image: url(../img/cross.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.invalid .cross-error {

    display: block;

}

.main-form select {
    line-height: 36px;
    font-size: 17px;
    font-family: 'Sfuitext', sans-serif;
    font-weight: 400;
    color: #8e8e93;
    position: relative;
}

.main-form select option {
    color: #000;
}

.main-form .arrow-down::before {
    content: '';
    position: absolute;
    right: 2px;
    top: 41px;
    background-color: white;
    width: 23px;
    height: 22px;

}

.main-form .arrow-down::after {
    content: '';
    position: absolute;
    right: 7px;
    top: 40px;
    background-image: url(../img/arrowdown.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 32px;
    z-index: 9;
}

@media screen and (max-width: 1206px) {
    .footer-nav__top a {
        font-size: 14px;
    }

    .main_footer {
        flex-wrap: wrap;

    }

    .main-footer__contacts-right {
        padding-left: 0;
        margin-left: 0;

    }

    .main-footer__contacts-right a:nth-child(2) {
        margin-left: 0;
    }

    .footer-nav p {
        margin-top: 361px;
    }
}

@media screen and (max-width: 1174px) {

    .footer-nav__bottom ul {
        width: 100%;
    }

    .main-header__desctop--nav ul li {
        font-size: 14px;
    }

    .main-header__desctop--contacts a:first-child {
        font-size: 17px;
    }

    .main-header__desctop--contacts a:last-child {
        font-size: 10px;
    }

    .main-header__desctop--contacts .contacst__phone-small {
        10px;
    }

    .main-header__desctop--logo {
        max-width: 166px;
    }

    .container {
        padding-left: 2%;
        padding-right: 2%;
    }

    .main-header__search--input {
        width: 603px;

    }

    .main-form__right-block {
        margin-left: 20px;
    }

    .main-footer__contacts-left {
        max-width: 282px;
    }
}

@media screen and (max-width: 1080px) {
    .main-header__desctop--nav ul li {
        font-size: 12px;
    }

    .main-form {
        flex-direction: column;
    }

    .main-form__left-block {
        max-width: 100%;
    }

    .main-form__right-block {
        width: 100%;
        height: auto;
    }

    .main-footer__contacts-left {
        max-width: 161px;
        margin-right: 9px;
    }

}

@media screen and (max-width: 990px) {


    .main-footer__contacts-right {
        margin-right: auto;
    }

    .footer-nav p {
        display: none;
    }

    .main-header__title {
        font-size: 35px;
    }

    .footer-nav__top ul {
        display: none;
    }


    .main-header {
        padding-top: 87px;
    }

    .works-nav {
        margin-top: 76px;
    }

    .menu {
        display: block;
    }

    .infoHead {
        display: none;
    }

    .main-header__desctop {
        display: none;
    }

    .menu:after {
        display: none;
    }

    .menu-mobile {
        position: fixed;
        z-index: 10;
        background: #fff;
        margin-top: 0;
        width: 100%;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        top: 0;
    }

    .menu-mobile__block {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #55b1ec;
        height: 60px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }

    .menu-mobile__logo {
        height: 70%;
        margin-left: 10px;
        padding-top: 1px;
        width: 121px;
    }

    .menu-mobile__buttonClick {
        position: absolute;
        right: 0;
        top: 0;
        padding: 18px 43px 20px 20px;
        cursor: pointer;
        z-index: 10;
    }

    .menu-mobile__buttonClick .buttonMenu {
        position: relative;
        width: 29px;
        height: 23px;
        display: -ms-flexbox;
        -ms-flex-align: center;
        align-items: center;
        display: flex;
    }

    .menu-mobile__buttonClick .buttonMenu__line {
        width: 100%;
        height: 3px;
        background: #fff;
        transition: transform ease-out 0.2s;
    }

    .menu-mobile__buttonClick .buttonMenu:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
        transition: transform ease-out 0.2s;
    }

    .menu-mobile__buttonClick .buttonMenu:after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
        transition: transform ease-out 0.2s;
    }

    .menu-mobile__ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        opacity: 0;
        overflow: hidden;
        height: 0;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .menu-mobile__li {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .menu-mobile .menu__item_active {
        border-bottom: 1px solid #e2e2e2;
    }

    .menu-mobile .menu__item_active:after {
        content: '';
        display: none;
    }

    .menu-mobile__item {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Sfuidisplay';
    }

    .menu-mobile__contactMobile {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid #E0E0E0;
        box-sizing: border-box;
        -ms-flex-align: center;
        align-items: center;
    }

    .menu-mobile .contactMobile__phone {
        color: #000;
        font-weight: 700;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 10px;
    }

    .menu-mobile .contactMobile__phone:before {
        content: '';
        display: inline-block;
        background-size: contain;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .menu-mobile .contactMobile__button {
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;
        padding: 15px;
    }

    .menu-mobile_active {
        overflow: auto;
        height: 100%;
        left: 0;
    }

    .menu-mobile_active .menu-mobile__block {
        display: none;
    }

    .menu-mobile_active .buttonMenu__line {
        transform: rotate(45deg);
        background: #000;
    }

    .menu-mobile_active .buttonMenu:before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transform-origin: center;
        background: #000;
    }

    .menu-mobile_active .buttonMenu:after {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        transform-origin: center;
        background: #000;
    }

    .menu-mobile_active .contactMobile {
        opacity: 1;
        overflow: initial;
        height: auto;
        padding: 10px 20px;
    }

    .menu-mobile_active .menu-mobile__ul {
        opacity: 1;
        overflow: initial;
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 880px) {
    .main-footer__contacts-left {
        max-width: max-content;
        margin-right: 0;
    }

    .footer-nav {
        margin: 0 auto;
    }

}

@media screen and (max-width: 700px) {
    .main-footer__contacts-right {
        margin-top: 45px;
        margin-bottom: 0px;
    }

    .footer-nav__bottom {
        flex-direction: column;
    }

    .footer-nav p {
        margin-top: 264px;
    }

    .footer-nav__top ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .main-header__search--input {
        width: 100%;
    }

    .main-form__right-block {
        height: auto;
        margin: 0 auto;
        padding: 2%;
    }

    .form-wrapper {
        padding: 35px 29px;
    }

    .main-header__title {
        font-size: 26px;
    }

    .main-form__label--input {
        font-size: 10.8px;
    }

    .footer-nav__top {
        padding-top: 0;
    }
}
